/* Temporary image dimentions */

img {
    width: 200px;
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header */

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

ul {
    display: flex;
    text-decoration: none;
    gap: 20px;
}

li {
    list-style-type: none;
}

/* header end */

main {
    display: flex;
    flex-direction: column;
}

/* row head */

.row-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 500px;
    padding-left: 80px;
    padding-right: 80px;
}

.head {
    max-width: 400px;
}

.row-head img {
    width: 50%;
    height: 80%;
    border: 3px solid blue;
    border-radius: 20px;
}

/* row head end */

/* row one */

.row-one h2 {
    text-align: center;
}

.row-one .container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.item p {
    padding: 0 10px 0 10px;
}

.item img {
    border: 3px solid blue;
    border-radius: 10px;
}

/* row one end */

/* row two */

.row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px;
    
}

.row-two p {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 50%;
    margin-bottom: 5px;
}

.row-two span {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 25%;
}

/* row two end */

/* row three */

.row-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.row-three .container {
    background-color: blue;
    max-width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px 20px 80px;
    width: 80%;
    border-radius: 10px;
}

/* row three end */

/* footer */

footer {
    background-color: #1F2937;
    padding: 15px;
    text-align: center;
}